cairocffi==0.8.0
CairoSVG==2.0.3
cffi==1.10.0
cssselect==1.0.1
html5lib==0.999999999
lxml==3.8.0
olefile==0.44
Pillow==4.2.1
pycparser==2.18
Pyphen==0.9.4
six==1.10.0
tinycss==0.4
tinycss2==0.5
WeasyPrint==0.39
webencodings==0.5.1
